*.o
*.log
*.bin
SoftWare/FirmWare/Keil\ Project/Listings
SoftWare/FirmWare/Keil\ Project/Objects
SoftWare/FirmWare/build/out
SoftWare/FirmWare/build/obj
SoftWare/FirmWare/build/dep_boot
SoftWare/FirmWare/build/obj_boot
SoftWare/FirmWare/.vscode
SoftWare/FirmWare/SourceInsight
SoftWare/PCTool/build-AdvancedClock-Desktop_Qt_5_15_2_MinGW_32_bit-Debug